<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
            <div id="div1">
            
                <div v-if="a">true</div>
                <div else>false</div>
                <!-- <div v-if="b=='x'">xxxx</div>
                <div v-else-if="b=='y'">yyyy</div>
                <div v-else>zzzz</div>

                <div v-show='a'>qqqq</div>
                <div v-show='b=="x"'>www</div> -->
    
                <!-- v-if直接从代码中删除了，v-show只是通过display来切换状态，因此建议频繁切换的话用v-show比较好 -->


            </div>



    <script src="vue.js"></script>
    <script>

    var v1=new Vue({
        el:"#div1",
        data:{
        a:false,
        b:"x"
        }
    })
    
    </script>
</body>
</html>